@media all and (max-width: 760px)
	.teletype
		display none
	body
		font-size 13px
	#submit
		width 140px
		height 60px	
	#search	
		height 42px
		width 320px
	.navbar
		height 50px !important	
	.navbar-right
		margin-top 0px !important	
		margin-right 0px !important	
	.navbar-right a
		font-size 10px !important
	#brand
		font-size 20px	!important
	.footer a
		margin 5px !important	
	.log-reg-modal
		width 265px !important	
	.live-preview label
		margin-right 100px	!important		
@media all and (max-width: 995px)
	.sidebar
		display none			