@import url('http://fonts.googleapis.com/css?family=Lobster:400,700|Droid+Sans:400,700');

//General
body
	font-family 'Droid Sans'
	height 100%
	min-height 800px
	background-color rgb(249, 249, 249)
a, a:link, a:hover, a:active, a:visited, a:focus
	text-decoration none
input
	display block
.invisible
	display none		
// Body main

.search
	margin 25px 0

table
	width 95%
tr 
	border 2px solid #888
	border-collapse collapse
	width 100%
tr:nth-child(even)
	background-color aliceblue	
tr:nth-child(odd)
	background-color white		
tr p
	padding 5px 8px 0 5px
.date
	float right
.short-desc
	color tomato
	font-size 1.2em
	font-weight bold
.company
	font-size 0.9em
	font-weight bold
	color black	

.sidebar
	margin-bottom 200px
	border 2px solid #555
	border-radius 7px
	padding 40px 20px
	font-size 20px
	text-align center
	max-width 250px
	background-color white
	button
		border 3px solid tomato
		background-color white
		font-weight bold
		font-size 22px
		margin 55px
	button:hover
		border 5px solid tomato		
// Post a job
.post
	max-width 500px			
.post input
	width 300px	
	display block
#location
	display block	
#submit
	width 70px
	height 50px
	border 3px solid #222
	font-weight bold
	background-color white
#submit:hover
	background-color #222
	color white
.note-editor	
	border-radius 3px	
.note-editor .note-editable
	background-color white	
.note-editor .note-toolbar
	background-color #333
	border-radius 2px
	margin-left 0px
	
.company-url
	font-size 0.87em

#category, .bootstrap-tagsinput
	min-width 300px
	display block
	margin-bottom 10px
.live-preview label
	display block
	margin-left 7px
	margin-top 35px
	font-size 1.1em
.live-preview .header
	text-align center
	font-size 22px
	margin 15px	0
.live-preview p
	margin-left 7px	
	line-height 0px	
.live-preview
	background-color white
	min-height 500px
	border 3px solid #444
	border-radius 4px
.live-preview span
	margin-left 17px	
.company-preview
	font-size 1.2em
	display inline
	font-weight bold
	color #00001A	
input[type="radio"]
	display inline
	width 20px
label[for="engagement"]	
	display block	
label[for="tags"]	
	margin-top 11px	
// Navbar
.navbar
	background-color #333
	color white
	height 90px
.remote
	color white	
.desk
	color tomato
#brand
	display block
	font-size 40px
	font-weight 200
	font-family "Lobster"
	cursor: pointer
	
.navbar-right 
	margin-top 50px
	margin-right 20px
.navbar-right a
	color white
	font-size 15px		
.button
	padding 4px 7px
	cursor pointer
	font-weight bold
	height 25px
	width 85px
#login-buttons a	
	color white
	text-decoration none
#login-buttons a:hover
	color #333 
.button:hover, #login-buttons:hover
	border-color #333
	color #333
	background-color white 	  
.teletype
	font-weight bold
.log-reg-modal
	width 265px
	height 290px
	padding 23px
.log-reg-modal a
	cursor default
		
.log-reg-modal input[type="email"],
.log-reg-modal input[type="password"]
	width 100%
.log-reg-modal input[type="submit"]
	margin 10px 0
.log-reg-modal label
	display block
	margin 5px		
	 	 
// Navbar End ▾
  
// Footer
.footer
	background-color white
	bottom 0px
	margin-top 80px
	position relative
	height 60px
	width 100%
	
.footer a
	margin 20px
	text-align center
	display inline-block
	color tomato
.footer a:hover
	font-weight bold	
.footer-container
	border-top 1px solid grey
// Footer End	

